.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f6fa; /* Optional background color */
}




.admin-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0px;
  transition: margin-left 0.3s;
}

.admin-main-content.sidebar-open {
  margin-left: 0;
}

.admin-main {
  flex: 1;
  padding: 20px;
  background: #e7e7e7;
}